.product_wishlist {
  margin-left: 5px;
}

.product_headingcont {
  width: 100%;
  height: 30vh;
  font-weight: bolder;
  font-size: 27px;
  flex-direction: column;
  display: flex;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  color: green;
}

.product_wishcards{
    margin-left: 7px;
    display: flex;
    flex-wrap: wrap;
}

.list_button{
  width: 199px;
  height: 43px;
  cursor: pointer;
  margin-top: 7px;
  font-weight: bolder;

}

.list_button:hover{
  background-color: black;
  color: white;
}